* {
  border: 1px solid red;
}

.row {
  height: 6.5rem;
}

div div:nth-child(2n+1) div:nth-child(2n+1),div div:nth-child(2n) div:nth-child(2n) {
  background:#132242;
}

.legel-move{
  background: yellow !important;
}

.piece {
  text-align: center;
  font-size: 24px;
}

.diff {
  color: yellowgreen
}

.move {
  background-color: blue;
}

.jump {
  background-color: purple;
}

.X {
  background: url(http://www.iconsdb.com/icons/preview/red/circle-xxl.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.O {
  background: url(http://www.iconsdb.com/icons/preview/blue/circle-xxl.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.turn {
  transform: perspective(1px) translateZ(0);
  
}


.turn:hover {
  transform: scale(1.3);
}
