
body {
  text-align: center;
}

header {
  height: 7em;
}

header h1 {
  padding-top: 25px;
}

main {
  margin-top: 45px;
}

.row {
  height: 6.5rem;
}

div div:nth-child(2n+1) div:nth-child(2n+1),div div:nth-child(2n) div:nth-child(2n) {
  background:#132242;
}

.container {
  border: 1px lightgray solid;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
  margin-bottom: 55px;
}


.legel-move{
  background: url(http://www.clker.com/cliparts/E/H/P/3/G/D/yellow-border-th.png);
  background-repeat: no-repeat;
  background-position: center;
}
.X {
  background: url(http://www.iconsdb.com/icons/preview/red/circle-xxl.png);
}

.O {
  background: url(http://www.iconsdb.com/icons/preview/blue/circle-xxl.png);
}

.X.king {
  background: url(http://images.clipartpanda.com/jubilee-clipart-Jubilee-crown-red.svg);
  background-size: 3.3em;
  background-repeat: no-repeat;
  background-position: center;
}
.O.king {
  background: url(http://images.clipartpanda.com/jubilee-clipart-Jubilee-crown-blue.svg);
  background-size: 3.3em;
  background-repeat: no-repeat;
  background-position: center;
}

.piece {
  text-align: center;
  font-size: 24px;
  background-size: 3.3em;
  background-repeat: no-repeat;
  background-position: center;
}

.move:before, .can-jump:before {
  position: absolute;
  content: ' \25CF';
  font-size: 117px;
  top: -37px;
  left: 24px;
  z-index: -1;
  color: yellow;
  opacity: .7;
}

@media only screen and (max-width : 375px) {
  .row {
    height: 2.5rem;
    width: 22.8em;
  }

  .move:before, .can-jump:before {
    font-size: 51px;
    top: -18px;
    left: 3px;
  }

  .piece, .legel-move {
    font-size: .5em;
  }
}

@media only screen and (min-device-width : 376px) and (max-device-width : 500px) {
  .row {
    height: 4.5rem;
    width: 30.8em;
  }
}

@media only screen and (min-device-width : 501px) and (max-device-width : 500px) {
  .row {
    height: 4.5rem;
    width: 30.8em;
  }
}
