
body {
  text-align: center;
}

header {
  height: 7em;
}

header h1 {
  padding-top: 25px;
}

main {
  margin-top: 45px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#message-box {
  border-radius: 20px;
  height: 300px;
  width: 450px;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -225px;
}

button {
  padding: 16.8px 44px;
  color: #00A6B3;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 12rem;
  border: 3.2px solid #00A6B3;
  margin: 0 auto;
  margin-top: 55px;
}

button:hover {
	background-color: #00A6B3;
	color: #fff;
	cursor: pointer;
}

.row {
  height: 6.5rem;
}

div div:nth-child(2n+1) div:nth-child(2n+1),div div:nth-child(2n) div:nth-child(2n) {
  background:#132242;
}

.container {
  border: 1px lightgray solid;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
  margin-bottom: 55px;
}

.legal-move{
  background: url(http://www.clker.com/cliparts/E/H/P/3/G/D/yellow-border-th.png) no-repeat center;

}
.X {
  background: url(http://www.iconsdb.com/icons/preview/red/circle-xxl.png);
}

.O {
  background: url(http://www.iconsdb.com/icons/preview/blue/circle-xxl.png);
}

.X.king {
  background: url(http://images.clipartpanda.com/jubilee-clipart-Jubilee-crown-red.svg) no-repeat center;
  background-size: 3.3em;
}

.O.king {
  background: url(http://images.clipartpanda.com/jubilee-clipart-Jubilee-crown-blue.svg) no-repeat center;
  background-size: 3.3em;
}

.piece {
  text-align: center;
  font-size: 24px;
  background-size: 3.3em;
  background-repeat: no-repeat;
  background-position: center;
}

.move, .can-jump {
  cursor: pointer;
}

@media only screen and (max-width : 375px) {
  .row {
    height: 2.5rem;
    width: 22.8em;
  }

  .piece, .legel-move {
    font-size: .5em;
  }
}

@media only screen and (min-device-width : 376px) and (max-device-width : 500px) {
  .row {
    height: 4.5rem;
    width: 30.8em;
  }
}

@media only screen and (min-device-width : 501px) and (max-device-width : 500px) {
  .row {
    height: 4.5rem;
    width: 30.8em;
  }
}
